body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin:0;padding:0
}
* a {
	text-decoration: none;
}
body {
	font-family: 'Arial',sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	color: #222;
}
.header {
	/*background: pink;*/
	height: 135px;
	margin: 0 auto;
	width: 1140px;
}
.header .site-header {
	width: 1140px;
	height: 99px;
}
.header .site-header .logo {
	float: left;
	width: 380px;
	height: 99px;
}
.header .site-header .logo p {
	font-size: 50px;
	color: #007cbb;
}
.header .site-header .info {
	float: right;
	width: 760px;
	height: 79px;
	padding: 5px 0;
}
.header .site-header .info .info-top {
	width: 760px;
	height: 34px;
}
.header .site-header .info .info-top ul {
	width: 760px;
	height: 34px;
	list-style: none;
	display: block;
	box-sizing: border-box;
	padding-left: 400px;
}
.header .site-header .info .info-top ul li {
	float: left;
	/*background: #333;*/
	line-height: 20px;
}
.header .site-header .info .info-top ul li a {
	color: #333;
	font-size: 14px;
	display: block;
	line-height: 34px;
	padding: 0 15px;
}
.header .site-header .info .info-follow {
	width: 760px;
	height: 45px;
	display: block;
	box-sizing: border-box;
}
.header .site-header .info .info-follow  {
	text-align: right;
	padding-right: 10px;
}
/*------------------*/
.site-nav {
	background: #fff;
	width: 1140px;
	height: 35px;
}
.site-nav ul {
/*	background: #666;
*/	width: 1140px;
	height: 35px;
	/*display: block;*/
	box-sizing: border-box;
	list-style: none;
	border-top: 2px solid gray;
	border-bottom: 1px solid gray;
}
.site-nav ul li {
	/*display: block;*/
	float: left;
	margin-right: 5px;
}

.site-nav ul li a {
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
	padding: 5px 15px;
}
/*--------------content----------------*/
.container {
	width: 1140px;
	margin: 0 auto;
	height: 1383px;
	/*background: #999;*/
	margin-top: 30px;
	margin-bottom: 10px;
}
.container .content {
	width: 750px;
	height: 1343px;
	/*background: pink;*/
	float: left;
}
.container .content img {
	margin-bottom: 12px;
}
.container .content h2 {
	margin: 0 0 16px;
}
.container .content p {
	margin: 0 0 16px;
}
/*-------right---------*/
.container .right {
	width: 360px;
	/*height: 1383px;*/
	/*background: blue;*/
	float: right;
}
.container .right .menu-right {
	width: 360px;
	height: 803px;
	background: #f0f0f0;
	padding: 20px;
	box-sizing: border-box;
	overflow: auto;
}
.container .right .menu-right h2 {
	background: #000;
	color: #fff;
	width: 300px;
	height: 40px;
	padding-left: 10px;
	box-sizing: border-box;
}
.container .right .menu-right ul {
	list-style: none;

}
.container .right .menu-right ul li {
	line-height: 25px;
	border-bottom: 1px solid gray;
}
.container .right .menu-right ul li a {
	color: #007cbb;
	font-weight: 600;
}
.container .right .menu-right ul li span {
	color: #222;
}
.container .right .menu-right ul li h3 {
	font-size: 16px;
	color: #222;
	font-weight: 600;
	padding-top:20px;
	padding-bottom: 5px;
}
.container .right .faq {
	width: 360px;
	height: 479px;
	background: #f0f0f0;
}
/*------------------------*/
.container .right .faq {
	margin-top: 20px;
	width: 360px;
	height: 480px;
	background: #f0f0f0;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.container .right .faq .top h2, .container .right .faq .bottom h2{
	color: #222;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 600px;
	line-height: 20px;

}
.container .right .faq .top p, .container .right .faq .bottom p {
	color: #222;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 400px;
	margin-top: 15px;
	margin-bottom: 30px;
}
.container .right .faq .top input[type="submit"], .container .right .faq .bottom input[type="submit"]{
	width: 135px;
	height: 60px;
	border: 2px solid #007cbb;
	/*font-size: 18px;*/
	color: #007cbb;
	background: #f0f0f0;
}
.container .right .faq .bottom {
	margin-top: 20px;
	width: 360px;
	background: #f0f0f0;

}
/*----------footer------------*/
.footer {

	height: 155px;
	background: #222;
}
.footer .btm-menu {
	margin: 0 auto;
	width: 1140px;
	height: 95px;
	/*background: pink;*/
	border-bottom: 1px solid #666;
}
.footer .btm-menu ul {
	width: 1140px;
	height: 95px;
	display: block;
	box-sizing: border-box;
	list-style: none;
}
.footer .btm-menu ul li {
	float: left;
	line-height: 95px;
	padding-left: 1em;
	font-size: 14px;
	font-weight: 400;
}
.footer .btm-menu ul li a {
	color: #78b74e;
}

.footer .cpr {
	line-height: 60px;
	text-align: center;
	color: #aaa;
	font-size: 14px;
}
.footer .cpr a {
	color: #78b74e;
}